<div class="modal fade noselect" id="modalSystemEntries" tabindex="-1" role="dialog" aria-labelledby="modalSystemEntriesLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalSystemEntriesLabel"><b>System Entries</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">


        <div class="container">
          <div class="row tab-pills">
            <div class="col-md-12">
              <ul class="nav nav-pills nav-pills-success justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist" aria-expanded="true"
                    (click)="setEntryType('Non-Payment')">
                    <i class="material-icons mi-pills">money_off</i>&nbsp;<span>Non Payment Entries</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#link2" role="tablist" aria-expanded="false" (click)="setEntryType('Payment'); isClassesAvailable()">
                    <i class="material-icons mi-pills"> attach_money</i>&nbsp;<span>Payment Entries</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="tab-content tab-space">

            <div class="tab-pane active" id="link1" aria-expanded="true">

              <div id="classDetails">
                <table class="user-table text-center">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Year</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of dNonPaymentEntries; let recIndex = index">
                      <td>{{item.entryName}}</td>
                      <td>{{item.entryYear}}</td>
                      <td>
                        <button class="btn btn-info btn-round btn-sm" data-toggle="modal" data-target="#modalEditNonPaymentEntries"
                          (click)="setCurrentRecordDetail(item._id, recIndex, item)">Edit</button>
                        &nbsp;
                        <button class="btn btn-danger btn-round btn-sm" data-toggle="modal" data-target="#modalDeleteEntriesWarning"
                          (click)="setCurrentRecordDetail(item._id, recIndex, item)">Delete</button>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>

              <div id="addClasses">
                <form autocomplete="off">
                  <div class="row">

                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="systemEntriesClassName">Class name</label>
                        <input type="text" class="form-control" id="systemEntriesClassName" aria-describedby="systemEntriesClassNameHelp"
                          placeholder="Enter class name" [(ngModel)]="tNonPaymentClassName" name="npClassName">
                        <!-- <small id="systemEntriesClassNameHelp" class="form-text text-muted">Enter the class name</small> -->
                      </div>
                    </div>


                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="systemEntriesClassYear">Year</label>
                        <input type="number" class="form-control" id="systemEntriesClassYear" aria-describedby="systemEntriesClassYearHelp"
                          placeholder="Enter the year" [(ngModel)]="tNonPaymentYear" name="npYear">
                        <!-- <small id="systemEntriesClassYearHelp" class="form-text text-muted">Enter the year of the class</small> -->
                      </div>
                    </div>


                    <div class="col-md-4">
                      <div class="create-user-actions text-center">
                        <button class="btn btn-success btn-round btn-sm" type="reset" (click)="addNonPaymentEntry()">Save</button>
                        &nbsp;
                        <button class="btn btn-warning btn-round btn-sm" type="reset">Clear</button>
                      </div>
                    </div>


                  </div>
                </form>
              </div>

            </div>

            <div class="tab-pane" id="link2" aria-expanded="false">

              <div id="chargeCategoryDetails">
                <table class="user-table text-center">
                  <thead>
                    <tr>
                      <th scope="col">Category Name</th>
                      <th scope="col">Class</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of dPaymentEntries; let recIndex = index">
                      <td>{{item.entryName}}</td>
                      <td>{{item.entryClass}}</td>
                      <td>{{item.entryAmount}}</td>
                      <td>
                        <button class="btn btn-info btn-round btn-sm" data-toggle="modal" data-target="#modalEditPaymentEntries"
                          (click)="setCurrentRecordDetail(item._id, recIndex, item)">Edit</button>
                        &nbsp;
                        <button class="btn btn-danger btn-round btn-sm" data-toggle="modal" data-target="#modalDeleteEntriesWarning"
                          (click)="setCurrentRecordDetail(item._id, recIndex, item)">Delete</button>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>

              <div id="addChargeCategories">

                <hr>

                <form autocomplete="off">
                  <br>
                  <h6>Extra Fees</h6>
                  <br>

                  <div class="row">

                    <div class="col-md-3">
                      <div class="form-group school-fees-align-with-select">
                        <label for="seCategoryName">Category name</label>
                        <input type="text" class="form-control" id="seCategoryName" aria-describedby="seCategoryNameHelp"
                          placeholder="Enter category" [(ngModel)]="tPaymentCategory" name="pEntryCategory">
                        <small id="seCategoryNameHelp" class="form-text text-muted">Type Category name. eg - New year</small>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group school-fees-align-with-select">
                        <label for="seAmount">Amount</label>
                        <input type="number" class="form-control" id="seAmount" aria-describedby="seAmountHelp"
                          placeholder="Enter amount" [(ngModel)]="tPaymentAmount" name="pEntryAmount">
                        <small id="seAmountHelp" class="form-text text-muted">Type Amount. Currency - <b>LKR</b></small>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="tPaymentClass">Select Class</label>
                        <select class="form-control selectpicker" data-style="btn btn-link" id="tPaymentClass"
                          [(ngModel)]="tPaymentClass" name="tPaymentClassName">
                          <option disabled selected value="">{{classAvailability}}</option>
                          <option *ngFor="let item of dNonPaymentEntries" value={{item.entryName}}>{{item.entryName}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="create-user-actions text-center">
                        <button class="btn btn-success btn-round btn-sm" type="reset" (click)="addPaymentEntry()">Save</button>
                        &nbsp;
                        <button class="btn btn-warning btn-round btn-sm" type="reset">Clear</button>
                      </div>
                    </div>

                  </div>

                </form>

                <hr>

                <form autocomplete="off">
                  <br>
                  <br>
                  <h6>School / Other Fees</h6>
                  <br>

                  <div class="row">

                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Select School Fee</label>
                        <select class="form-control selectpicker" data-style="btn btn-link" id="exampleFormControlSelect1"
                          [(ngModel)]="tSchoolPaymentType" name="pSchoolPaymentType">
                          <option disabled selected value="">Click to Select School Fee Type</option>
                          <option *ngFor="let item of schoolFeeCategories" value={{item}}>{{item}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group school-fees-align-with-select">
                        <label for="seSchoolAmount">Amount</label>
                        <input type="number" class="form-control" id="seSchoolAmount" aria-describedby="seSchoolAmountHelp"
                          placeholder="Enter amount" [(ngModel)]="tSchoolPaymentAmount" name="pSchoolPaymentAmount">
                        <small id="seSchoolAmountHelp" class="form-text text-muted">Type Amount. Currency - <b>LKR</b></small>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="tSchoolPaymentClass">Select Class</label>
                        <select class="form-control selectpicker" data-style="btn btn-link" id="tSchoolPaymentClass"
                          [(ngModel)]="tSchoolPaymentClass" name="tSchoolPaymentClassName">
                          <option disabled selected value="">{{classAvailability}}</option>
                          <option *ngFor="let item of dNonPaymentEntries" value={{item.entryName}}>{{item.entryName}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="create-user-actions text-center">
                        <button class="btn btn-success btn-round btn-sm" type="reset" (click)="addScoolPaymentEntry()">Save</button>
                        &nbsp;
                        <button class="btn btn-warning btn-round btn-sm" type="reset">Clear</button>
                      </div>
                    </div>

                  </div>
                </form>

                <hr>

                <form autocomplete="off">
                  <br>
                  <h6>Day Care Fees</h6>
                  <br>

                  <div class="row">

                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="dayCareList">Select Day Care Fee</label>
                        <select class="form-control selectpicker" data-style="btn btn-link" id="dayCareList"
                          [(ngModel)]="tDCPaymentType" name="tDCPaymentType">
                          <option disabled selected value="">Click to Select Day Care Fee Type</option>
                          <option *ngFor="let item of DCFeeCategories" value={{item}}>{{item}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group school-fees-align-with-select">
                        <label for="seDCAmount">Amount</label>
                        <input type="number" class="form-control" id="seDCAmount" aria-describedby="seDCAmountHelp"
                          placeholder="Enter amount" [(ngModel)]="tDCPaymentAmount" name="tDCPaymentAmount">
                        <small id="seDCAmountHelp" class="form-text text-muted">Type Amount. Currency - <b>LKR</b></small>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="tDCPaymentClass">Select Class</label>
                        <select class="form-control selectpicker" data-style="btn btn-link" id="tDCPaymentClass"
                          [(ngModel)]="tDCPaymentClass" name="tDCPaymentClass">
                          <option disabled selected value="">{{classAvailability}}</option>
                          <option *ngFor="let item of dNonPaymentEntries" value={{item.entryName}}>{{item.entryName}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="create-user-actions text-center">
                        <button class="btn btn-success btn-round btn-sm" type="reset" (click)="addDCPaymentEntry()">Save</button>
                        &nbsp;
                        <button class="btn btn-warning btn-round btn-sm" type="reset">Clear</button>
                      </div>
                    </div>

                  </div>
                </form>


              </div>

            </div>

          </div>

        </div>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- &nbsp;
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade noselect" id="modalEditNonPaymentEntries" tabindex="-1" role="dialog" aria-labelledby="modalEditNonPaymentEntriesLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditNonPaymentEntriesLabel">Non-Payment Entries</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <div class="row">

          <div class="col-md-6">
            <div class="form-group">
              <label for="seClassName">Class Name</label>
              <input type="text" class="form-control" id="seClassName" aria-describedby="seClassNameHelp" placeholder="Enter class name"
                [(ngModel)]="tUpdateNonPaymentClassName" name="updateNPClassName">
              <small id="seClassNameHelp" class="form-text text-muted">Type class name</small>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="seClassYear">Year</label>
              <input type="number" class="form-control" id="seClassYear" aria-describedby="seClassYearHelp" placeholder="Enter year"
                [(ngModel)]="tUpdateNonPaymentClassYear" name="updateNPClassYear">
              <small id="seClassYearHelp" class="form-text text-muted">Type the year</small>
            </div>
          </div>

        </div>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        &nbsp;
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateNonPaymentEntry()">Save
          changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade noselect" id="modalEditPaymentEntries" tabindex="-1" role="dialog" aria-labelledby="modalEditPaymentEntriesLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg-custom" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditPaymentEntriesLabel">Payment Entries</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <div class="row">

          <div class="col-md-4">
            <div class="form-group school-fees-align-with-select">
              <label for="seCategoryName school-fees-align-with-select">Category Name</label>
              <input type="text" class="form-control" id="seCategoryName" aria-describedby="seCategoryNameHelp"
                placeholder="Enter category name" [(ngModel)]="tUpdatePaymentCategory" name="updatePCategory"
                [disabled]="isSchool">
              <small id="seCategoryNameHelp" class="form-text text-muted">Type category name</small>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group school-fees-align-with-select">
              <label for="seCategoryAmount">Amount</label>
              <input type="number" class="form-control" id="seCategoryAmount" aria-describedby="seCategoryAmountHelp"
                placeholder="Enter amount" [(ngModel)]="tUpdatePaymentAmount" name="updatePAmount">
              <small id="seCategoryAmountHelp" class="form-text text-muted">Type the amount</small>
            </div>
          </div>

          <div class="col-md-4">

            <div class="form-group ]">
              <label for="tuPaymentClass">Select Class</label>
              <select class="form-control selectpicker" data-style="btn btn-link" id="tuPaymentClass" [(ngModel)]="tUpdatePaymentClass"
                name="tUpdatePaymentClass">
                <option disabled selected value="">{{classAvailability}}</option>
                <option *ngFor="let item of dNonPaymentEntries" value={{item.entryName}}>{{item.entryName}}</option>
              </select>
            </div>


            <!-- <div class="form-group">
              <label for="seCategoryYear">Class</label>
              <input type="number" class="form-control" id="seCategoryYear" aria-describedby="seCategoryYearHelp"
                placeholder="Enter year" [(ngModel)]="tUpdatePaymentYear" name="updatePYear">
              <small id="seCategoryYearHelp" class="form-text text-muted">Type the year</small>
            </div> -->
          </div>

        </div>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        &nbsp;
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updatePaymentEntry()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade noselect" id="modalDeleteEntriesWarning" tabindex="-1" role="dialog" aria-labelledby="modalDeleteEntriesWarningLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="modalDeleteEntriesWarningLabel">
          <b>
            <i class="material-icons i-vertical-sub">warning</i>&nbsp;
            Are you sure you want to delete entry?
          </b>
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This action cannot be undone</p>
        <p>Entry name: <b>{{dEntryDetail.entryName}}</b> &nbsp;&nbsp;&nbsp; Type: <b>{{dEntryType}}</b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteEntry()">Yes, Im sure</button>
      </div>
    </div>
  </div>
</div>