.modal-lg {
    margin-top: 45px;
    min-width: 80% !important;
}

.nav-link {
    span {
        vertical-align: 1px;
    }
}

.tab-pills {
    padding-bottom: 4rem;
}

.mi-pills {
    display: inline !important;
    vertical-align: sub;
    font-size: 18px !important;
}

.i-vertical-sub {
    vertical-align: sub;
}

.admission-payments-history {
    .table-space {
        margin-top: 3rem;
    }
    table {
        width: 40rem;
        font-size: 12px;
    }
}

.make-payment {
    margin-top: 4rem;
}

.update-admission {
    max-width: 50rem;
}

.school-fee-monthly {
    margin-top: 6px;
}

.school-fee-history {
    table {
        width: 40rem;
        font-size: 12px;
    }
    .done-all {
        color: #47af4b;
    }
}