.modal-lg{
    margin-top: 45px;
    min-width: 80% !important;
}

.align-search{
    padding-top: 33px;
}

table {
    font-size: 14px;
}

.nav-link {
    span {
        vertical-align: 1px;
    }
}

.tab-pills {
    padding-bottom: 4rem;
}

.mi-pills {
    display: inline !important;
    vertical-align: sub;
    font-size: 18px !important;
}

.i-vertical-sub {
    vertical-align: sub;
}