.title {
    max-width: auto;
    padding-top: 5rem;
    margin-top: 0px !important;
}

.card-title {
    span {
        vertical-align: 5px;
    }
}

.card {
    max-width: 25rem;
}

.form-check-input:checked+.form-check-sign .check {
    background: #47af4c !important;
}

.col-md-4 {
    padding-top: 3rem;
}

.login-fail {
    p {
        font-size: 0.6rem;
    }
}

.incorrect{
    color: #d20c0c;
}