<h2 class="title text-center text-white noselect">Excel Montessori, Junior School <br> & Day Care Center</h2>

<div class="d-flex justify-content-center" (keydown.enter)="onKeydown()">

  <div class="card noselect">
    <div class="card-header card-header-icon card-header-success">
      <div class="card-icon">
        <h4 class="card-title text-center"> <i class="material-icons">group</i> &nbsp; <span>Sign In To Continue</span></h4>
      </div>
    </div>


    <form autocomplete="off">

      <div class="card-body">

        <div class="form-group has-success">
          <label for="usernameInput">Username</label>
          <input type="text" class="form-control text-lowercase" id="usernameInput" aria-describedby="emailHelp"
            placeholder="JohnDoe@Excel" [(ngModel)]="username" name="username">
        </div>

        <div class="form-group has-success">
          <label for="passwordInput">Password</label>
          <input type="password" class="form-control input-success" id="passwordInput" aria-describedby="emailHelp"
            placeholder="**********" [(ngModel)]="password" name="password">
        </div>

        <!-- <div class="form-check text-center">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="">
          Sign-In as Adminstrator
          <span class="form-check-sign">
            <span class="check"></span>
          </span>
        </label>
      </div> -->

        <div class="login-fail">
          <p class="h6 text-center incorrect" *ngIf="isNotCorrect">Username or Password incorrect</p>
        </div>

        <div class="form-group text-center">
          <button type="button" class="btn btn-success btn-round" (click)="signInToSystem()">
            <i class="material-icons">lock_open</i>&nbsp;Sign-In
          </button>
        </div>

        <small id="emailHelp" class="form-text text-muted text-center">If Username or Password incorrect, Please
          contact Adminstrator</small>
      </div>
    </form>

  </div>

</div>