.modal-lg {
    margin-top: 45px;
}

.gender-rad,
.dc-rad {
    vertical-align: -2rem;
}

.checkboxes {
    padding: 1rem;
    display: -webkit-inline-box;
}

.form-group {
    margin-bottom: 3rem;
}

.text-center {
    margin-bottom: 2rem;
}

.rates {
    font-size: 14px;
    font-weight: 400;
}

.dc-row {
    margin-bottom: 3rem;
}

.i-vertical-sub{
    vertical-align: sub;
}