<div class="modal fade noselect" id="modalAdminSettings" tabindex="-1" role="dialog" aria-labelledby="modalAdminSettingsLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAdminSettingsLabel"><b>Admin Settings</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="container">

          <div>

            <h6 class="h6">Current users</h6>

            <table class="user-table text-center">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Username</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Mark</td>
                  <td>@mdo</td>
                  <td>
                    <button class="btn btn-primary btn-round btn-sm" data-toggle="modal" data-target="#modalAdminResetPassword">Reset</button>
                    &nbsp;
                    <button class="btn btn-info btn-round btn-sm" data-toggle="modal" data-target="#modalAdminViewPassword">View</button>
                    &nbsp;
                    <button class="btn btn-danger btn-round btn-sm" data-toggle="modal" data-target="#modalAdminUserDeleteWarning">Delete</button>
                  </td>
                </tr>

              </tbody>
            </table>

          </div>

          <div>
            <h6 class="h6">Create new user</h6>

            <div class="row">


              <div class="col-md-3">
                <div class="form-group">
                  <label for="aoName">Name</label>
                  <input type="text" class="form-control" id="aoName" aria-describedby="aoNameHelp" placeholder="Enter Name">
                  <small id="aoNameHelp" class="form-text text-muted">Type new users <b>name</b></small>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="aoUsername">Username</label>
                  <input type="text" class="form-control" id="aoUsername" aria-describedby="aoUsernameHelp" placeholder="Enter username">
                  <small id="aoUsernameHelp" class="form-text text-muted">Type new users <b>username</b></small>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="aoPassword">Password</label>
                  <input type="text" class="form-control" id="aoPassword" aria-describedby="aoPasswordHelp" placeholder="Enter password">
                  <small id="aoPasswordHelp" class="form-text text-muted">Type new users <b>password</b></small>
                </div>
              </div>

              <div class="col-md-3">

                <div class="create-user-actions text-center">
                  <button class="btn btn-success btn-round btn-sm">Save</button>
                  &nbsp;
                  <button class="btn btn-warning btn-round btn-sm">Clear</button>
                </div>

              </div>


            </div>
          </div>

        </div>

      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        &nbsp;
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade noselect" id="modalAdminResetPassword" tabindex="-1" role="dialog" aria-labelledby="modalAdminResetPasswordLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAdminResetPasswordLabel">Reset Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <div class="row">

          <div class="col-md-6">
            <div class="form-group">
              <label for="aoResetPassword">New password</label>
              <input type="text" class="form-control" id="aoResetPassword" aria-describedby="aoResetPasswordHelp"
                placeholder="Enter new password">
              <small id="aoResetPasswordHelp" class="form-text text-muted">Type new password</small>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="aoResetPasswordRe">Retype</label>
              <input type="text" class="form-control" id="aoResetPasswordRe" aria-describedby="aoResetPasswordReHelp"
                placeholder="Retype">
              <small id="aoResetPasswordReHelp" class="form-text text-muted">Retype new password</small>
            </div>
          </div>

        </div>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        &nbsp;
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade noselect" id="modalAdminViewPassword" tabindex="-1" role="dialog" aria-labelledby="modalAdminViewPasswordLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAdminViewPasswordLabel">View Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <div class="row">

          <div class="col-md-12">
              <p class="h5 text-center"><b>h5. Bootstrap heading</b></p>
          </div>
        </div>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade noselect" id="modalAdminUserDeleteWarning" tabindex="-1" role="dialog" aria-labelledby="modalAdminUserDeleteWarningLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="modalAdminUserDeleteWarningLabel">
          <b>
            <i class="material-icons i-vertical-sub">warning</i>&nbsp;
            Are you sure you want to delete user "{{dUsername}}" ?
          </b>
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This action cannot be undone</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger">Yes, Im sure</button>
      </div>
    </div>
  </div>
</div>