<app-user></app-user>

<div class="row container menu-container noselect">

  <div class="col-md-4">
    <div class="card">
      <div class="card-header card-header-text card-header-info">
        <div class="card-text">
          <h5 class="card-title text-center">Add New Student</h5>
        </div>
      </div>
      <div class="card-body">
        Using this feature user can <b>Add new</b> students to the system. In this form all fields are <b>mandatory</b>
        to fill.

        <ul>
          <li>Click <b>'Add New Student'</b> Button</li>
          <li>Fill the pop-up form</li>
          <li>Click <b>'Save Details'</b> to Save</li>
          <li>Click <b>'Close'</b> Button to Close</li>
        </ul>

        <div class="text-center">
          <button class="btn btn-info btn-round" data-toggle="modal" data-target="#modalNewStudent" (click)="loadChild('/add-student')">
            <i class="material-icons">add</i> Add new Student
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header card-header-text card-header-danger">
        <div class="card-text">
          <h5 class="card-title  text-center">Modify/Delete Student Record</h5>
        </div>
      </div>
      <div class="card-body">
        Using this feature user can <b>Modify</b> students details or <b>Delete</b> student record from the system.
        <ul>
          <li>Click <b>'Modify/Delete'</b> Button</li>
          <li>Search Record and and click record to Modify/Delete</li>
          <li>Click <b>'Close'</b> Button to close</li>
        </ul>

        <div class="text-center">
          <button class="btn btn-danger btn-round" data-toggle="modal" data-target="#modalEditStudent" (click)="loadChild('/md-student')">
            <i class="material-icons">edit</i>
            Modify or
            <i class="material-icons">delete</i> Delete
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header card-header-text card-header-success">
        <div class="card-text">
          <h5 class="card-title text-center">Add Payment</h5>
        </div>
      </div>
      <div class="card-body">
        Using this feature user can <b>Make Payment</b> to the students.
        <ul>
          <li>Click <b>'Make Payment'</b> Button</li>
          <li>Select student and payment category</li>
          <li>Commit the payment by clicking on <b>'Pay'</b> button</li>
          <li>Click <b>'Close'</b> Button to close</li>
        </ul>

        <div class="text-center">
          <button class="btn btn-success btn-round" (click)="loadChild('/payments')">
            <i class="material-icons">payment</i>&nbsp; Make Payment
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header card-header-text card-header-rose">
        <div class="card-text">
          <h5 class="card-title text-center">Reports</h5>
        </div>
      </div>
      <div class="card-body">
        Using this feature user can view Reports, ex: Fees payment & etc.

        <ul>
          <li>Click <b>'View Reports'</b> Button</li>
          <li>Select fee category & change value</li>
          <li>Click <b>'Save'</b> button</li>
          <li>Click <b>'Close'</b> Button to close</li>
        </ul>

        <div class="text-center">
          <button class="btn btn-rose btn-round" data-toggle="modal" data-target="#modalReports" (click)="loadChild('/reports')">
            <i class="material-icons">attach_money</i> View Reports
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header card-header-text card-header-warning">
        <div class="card-text">
          <h5 class="card-title text-center">System Entries</h5>
        </div>
      </div>
      <div class="card-body">
        Using this feature user can add new classes & edit/delete, ex: Classes,
        Events & etc.

        <ul>
          <li>Click <b>'Manage Entries'</b> Button</li>
          <li>Enter new options</li>
          <li>Click <b>'Save'</b> button</li>
          <li>Click <b>'Close'</b> Button to close</li>
        </ul>

        <div class="text-center">
          <button class="btn btn-warning btn-round" data-toggle="modal" data-target="#modalSystemEntries" (click)="loadChild('/system-entries')">
            <i class="material-icons">public</i>&nbsp; Manage Entries
          </button>
        </div>

      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="card">
      <div class="card-header card-header-text card-header-primary">
        <div class="card-text">
          <h5 class="card-title text-center">Admin Settings</h5>
        </div>
      </div>
      <div class="card-body">
        Using this feature admin can <b>Create</b> new users, <b>Delete</b> users & <b>Reset passwords</b>.
        <ul>
          <li>Click <b>'Admin Options'</b> Button</li>
          <li>Enter new option</li>
          <li>Click <b>'Save'</b> button</li>
          <li>Click <b>'Close'</b> Button to close</li>
        </ul>

        <div class="text-center">
          <button class="btn btn-primary btn-round" data-toggle="modal" data-target="#modalAdminSettings" (click)="loadChild('/admin-settings')">
            <i class="material-icons">build</i>&nbsp; Admin Options
          </button>
        </div>

      </div>
    </div>
  </div>


</div>


<router-outlet></router-outlet>

<!-- <app-new-student></app-new-student>
<app-edit-student></app-edit-student>
<app-admin-settings></app-admin-settings>
<app-system-entries></app-system-entries>
<app-reports></app-reports> -->