.menu-container{
    padding-top: 9rem;
    margin: 0 auto;
}

.col-md-4{
    padding: 1rem;
}

.modal-lg{
    margin-top: 45px;
}

.gender-rad{
    vertical-align: -2rem;
}


.checkbox-physical-problem{
    padding: 1rem;
    display: -webkit-inline-box;
}